* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    padding-left: 30px;
    padding-right: 10px;
    grid-row: 1 / 3;
    border: 1px solid black;
}

.main-content {
    grid-row: 1 / 3;
    padding: 10px;
}

ul {
    position: relative;
}

ul::after {
    position: absolute;
    top: -7px;
    right: 0;
    content: '+';
    font-size: 1.5em;
    cursor: pointer;
}

ul > li {
    list-style: none;
    margin-left: 10px;
}

.todo-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(158, 248, 218);
    border-radius: 5px;
    margin-bottom: 10px;
}

.expand-button,
.edit-button,
.remove-button {
    cursor: pointer;
}

.todo-details > * {
    display: block;
}

.bold {
    font-size: 1.1rem;
    font-weight: bold;
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 20px;
    position: fixed;
    /* Move it 50% relative to container */
    top: 50%;
    left: 50%;
    /* Move it back 50% relative to self */
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.bold > span {
    font-weight: 100;
    font-size: 1rem;
}

form > div > label {
    display: block;
}

form > div > input {
    width: 400px;
}

.edit-details form {
    display: inline-block;
}

.right-sub-container {
    display: flex;
    gap: 20px;
}

.project-list > li,
.default-project {
    cursor: pointer;
}